%tr
  %td= group.name
  %td= group.email
  %td= link_to 'Show', group
  %td= link_to 'Edit', edit_group_path(group)
  %td= link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %td= group.secret_santa.name